html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset for REMS - 62.5% = 10px to 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-image: url(/IMG/icon.jpeg);
}

#countainer {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
}